
/* ABOUT */
.about_container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.about_wrapper {
    display: grid;
    justify-items: left;
    width: 75vw;
}

.about {
    display: grid;
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
